:root {
  --background-main: white;
  --button-from: #711F8D;
  --button-to: #A818DA;
  --text-black: #0D0D0D;
  --border-gray: #D5D4D8;
}

* {
  box-sizing: border-box;
}

html, body {
  margin: 0;
}

.flexWrapper {
  background: var(--background-main);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  min-height: 100vh;
}

.mainContent {
  background: var(--background-main);
  padding: 35px;
}

.mainContent .inputFields {
  display: flex;
  gap: 20px;
}

.mainContent .inputFields input {
  width: 100%;
  height: 35px;
  border-radius: 5px;
  border: 1px solid var(--border-gray);
  
  color: var(--text-black);
  font-family: 'Karla';
  font-style: normal;
  font-weight: 400;
  font-size: medium;
  line-height: 14px;
  text-indent: 10px;
}

.mainContent .submitButton {
  width: 100%;
  height: 40px;

  margin: 15px 0;

  background: linear-gradient(90.41deg, var(--button-from) 1.14%, var(--button-to) 100%);
  border-radius: 5px;
  border: none;
  
  color: white;
  font-family: 'Karla';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;

  /* identical to box height */
  text-align: center;
  /* letter-spacing: -0.1em; */

  cursor: pointer;
}

.mainContent .submitButton:hover {
  background: #b419e7
}

.mainContent .submitButton:active {
  transform: scale(0.99);
}

.mainContent .meme {
  position: relative;
}

.mainContent .memeImg {
  margin-top: 15px;
  max-width: 100%;
  border-radius: 3px;
}

.mainContent .memeText {
  position: absolute;
  width: 80%;
  text-align: center;
  left: 50%;
  transform: translateX(-50%);
  margin: 15px 0;
  padding: 0 5px;
  font-family: impact, sans-serif;
  font-size: 2em;
  text-transform: uppercase;
  color: white;
  letter-spacing: 1px;
  text-shadow:
    2px 2px 0 #000,
    -2px -2px 0 #000,
    2px -2px 0 #000,
    -2px 2px 0 #000,
    0 2px 0 #000,
    2px 0 0 #000,
    0 -2px 0 #000,
    -2px 0 0 #000,
    2px 2px 5px #000;
}

.mainContent .topMemeText {
  top: 10px;
}

.mainContent .bottomMemeText {
  bottom: 0;
}