:root {
  --background-main: #663399;
}

html, body {
  margin: 0;
}

.flexWrapper {
  background: var(--background-main);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  min-height: 100vh;
}