:root {
  --background-main: #639;
}

body {
  margin: 0;
  background-color: var(--background-main);
  height: 100vh;
  font-family: 'Inter', sans-serif;
}

.flexWrapper {
  background: var(--background-main);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  min-height: 100vh;
}